<section id="requests">
	<h1>Requests For {{userModel.firstname}}</h1>
	<section id="requestslist">
		<section *ngFor="let model of models" id="item-container" class="item-container">
		<article class="item">
			<img [src]="model.image" class="picture" />
			<div class="info">
				<div>
					<div class="label"><strong>{{model.name}}</strong></div>
					<div class="description"><small>{{model.description}}</small></div>
				</div>
				<div>
					<p class="price">Price: ${{model.price}}</p>
				</div>
				<div>
					<label>Delivery Date:</label>
					<input type="date" [(ngModel)]="model.by" (change)="setBy($event, model)"/>
				</div>
				<div>
					<p name="status">Status: {{model.status}}</p>
				</div>
			</div>
		</article>
		</section>
	</section>
</section>