<main id="main">
<router-outlet></router-outlet>
<div id="template" style="display: none;">

<section id="shop">
	<h1>Supplies</h1>
	<h2>Great Snow</h2>
	<section id="shoplist"></section>
	<p><button onclick="viewCart()">Back To My Supplies</button></p>
</section>

<section id="item-container" class="item-container">
	<article class="item">
		<img src="" class="picture" />
		<div class="info">
			<p class="label">Label</p>
			<label>Amount:</label>
			<select>
				<option value="1">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
	</article>
</section>

</div>
</main>
<footer>
<addhome></addhome>
</footer>