<section id="loginsignup">
<section id="signup" class="centered-container">
<div class="centered-content">
	<input type="text" name="firstname" placeholder="first name"><br>
	<input type="text" name="lastname" placeholder="last name"><br>
	<input type="email" name="email" placeholder="email"><br>
	<input type="tel" name="phone" placeholder="phone"><br>
	<input type="text" name="storename" placeholder="store name"><br>
	<input type="text" name="storeaddress" placeholder="store address"><br>
	<input type="text" name="username" placeholder="username"><br>
	<input type="password" name="password" placeholder="password"><br>
	<input type="password" name="password" placeholder="confirm password"><br>
	<input type="submit" onclick="viewCartFromLoginsignup()" value="Sign Up"><br>
</div>
</section>
</section>