<section class="back-navigation">
	<a [routerLink]="['/login']">Back to login</a>
</section>
<section id="loginsignup">
<section id="signup" class="centered-container">
<form class="centered-content" (ngSubmit)="onSubmit()" #signupForm="ngForm">
	<input [(ngModel)]="model.firstname" type="text" name="firstname" placeholder="first name" required><br>
	<input [(ngModel)]="model.lastname" type="text" name="lastname" placeholder="last name" required><br>
	<input [(ngModel)]="model.email" type="email" name="email" placeholder="email" required><br>
	<input [(ngModel)]="model.phone" type="tel" name="phone" placeholder="phone" required><br>
	<input [(ngModel)]="model.storename" type="text" name="storename" placeholder="store name" required><br>
	<input [(ngModel)]="model.storeaddress" type="text" name="storeaddress" placeholder="store address" required><br>
	<input [(ngModel)]="model.username" type="text" name="username" placeholder="username" required><br>
	<input [(ngModel)]="model.password" type="password" name="password" placeholder="password" required><br>
	<input type="password" name="passwordconfirm" placeholder="confirm password" required><br>
	<!--<label>Are you a supplier?</label><input [(ngModel)]="model.supplier" type="checkbox" name="supplier"><br>-->
	<input type="submit" [disabled]="!signupForm.form.valid" value="SIGNUP">
</form>
</section>
</section>