<section id="shop">
	<h1><u>{{userModel.storename}}</u></h1>
	<section>
	Search By Barcode
	<span>
		<input [(ngModel)]="barcode" type="text" name="barcode" placeholder="barcode" (change)="navigateToEdit()">
		<input #barcodeInput type="file" name="image" capture="camera" (change)="barcodeReader()"><br>
	</span>
	</section>
	<section class="itemlist">
		<section *ngFor="let category of models" class="item-section-container">
			<h2>{{category[0].category}}</h2>
			<section *ngFor="let item of category" id="item-container" class="item-container">
				<article class="item">
					<img [src]="item.image" class="picture" />
					<div class="info">
						<div>
							<div class="item-label"><strong>{{item.name}}</strong></div>
							<div class="item-description"><small>{{item.description}}</small></div>
						</div><br>
						<div>
							<div class="item-price">Price: ${{item.price}}</div>
						</div>
						<div>
							<p class="stock">Stock: {{item.stock}}</p>
						</div>
						<div>
							<a [routerLink]="['/edititem/' + item.id]">Edit</a>
						</div>
					</div>
				</article>
			</section>
		</section>
	</section>
	<a [routerLink]="['/newitem']"><button>Add Item</button></a>
</section>