<section class="back-navigation">
	<a [routerLink]="['/cart']">Back to orders</a>
</section>
<section id="search">
	<h1>Search For Items</h1>
	<section>
	Filter By
	<span>
		<input type="text" name="maxprice" placeholder="Max Price"(change)="getFilteredItems($event)">
	</span>
	</section>
	<section class="itemlist">
		<section *ngFor="let store of models" class="item-section-container">
			<h2>{{store[0].storename}}</h2>
			<p *ngIf="store[0].promotionmsg" class="promotion"><strong>{{store[0].promotionmsg}}</strong></p>
			<section *ngFor="let item of store" id="item-container" class="item-container">
				<article class="item">
					<img [src]="item.image" class="picture" />
					<div class="info">
						<div>
							<div class="item-label"><strong>{{item.name}}</strong></div>
							<div class="item-description"><small>{{item.description}}</small></div>
						</div><br>
						<div>
							<div class="item-price">Price: ${{item.price}}</div>
						</div>
						<div>
							<label>Amount:</label>
							<select [(ngModel)]="item.quantity" (change)="updateAmount($event, item)">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
				</article>
			</section>
		</section>
	</section>
</section>