<a [routerLink]="['/cart']">Back to cart</a>
<section id="search">
	<h1>Search For Items</h1>
	<section id="searchlist">
		<section *ngFor="let model of models" id="item-container" class="item-container">
		<article class="item">
			<img [src]="model.image" class="picture" />
			<div class="info">
				<div>
					<div class="label"><strong>{{model.name}}</strong></div>
					<div class="description"><small>{{model.description}}</small></div>
				</div>
				<div>
					<p class="price">Price: ${{model.price}}</p>
				</div>
				<div>
					<label>Amount:</label>
					<select [(ngModel)]="model.quantity" (change)="updateAmount($event, model)">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>
		</article>
		</section>
	</section>
</section>