#newitem.centered-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#newitem form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#newitem form input {
	margin-top: 21px;
	padding: 8px;
}