<section class="back-navigation">
	<a [routerLink]="['/shop']">Back to shop</a>
</section>
<section id="newitem" class="centered-container">
	<h1>Item Information</h1>
	<form class="centered-form" (ngSubmit)="onSubmit()" #itemForm="ngForm">
		<input [(ngModel)]="model.name" type="text" name="name" placeholder="name">
		<input [(ngModel)]="model.description" type="text" name="description" placeholder="description">
		<input [(ngModel)]="model.category" type="text" name="category" placeholder="category">
		<input #fileInput type="file" name="image" capture="camera" (change)="addImageToForm()">
		<br><img src="" id="preview" class="picture" alt="image preview" />
		<div class="barcode" *ngIf="barcode">Barcode: {{barcode}}</div>
		<input [(ngModel)]="model.price" type="number" name="price" placeholder="price">
		<input type="submit" value="Add Item">
	</form>
</section>