<section id="store" class="centered-container">
	<h1>Item Information</h1>
	<input type="text" name="name" placeholder="name">
	<input type="text" name="description" placeholder="description">
	<input type="file" name="image" capture="camera">
	<input type="text" name="price" placeholder="price">
	<input type="submit" onclick="" value="Add Item">
	
	<form action="fileupload" method="post" enctype="multipart/form-data">
	<input type="file" name="filetoupload"><br>
	<input type="submit">
	</form>
</section>